@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilos del Body*/
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-size-adjust: 2px;
  background-image: url(../Multimedia/80091148-calabash-mate-patrón-en-el-fondo-blanco-ilustración-del-vector.jpg);
}

.bodyBs1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-size-adjust: 2px;
  background-image: url(../Multimedia/80091148-calabash-mate-patrón-en-el-fondo-blanco-ilustración-del-vector.jpg);
}

Nav {
  padding: 10PX;
  background-color: black;
  width: 100%;
  height: 60px;
  text-align: center;
  border: 10px solid black;
  margin-bottom: 2px;
  text-decoration: none;
}

.lista1 li {
  padding: 7px;
  display: inline;
  margin: 10px;
  border-radius: 10px;
  border: solid 2px white;
}
.lista1 li:hover {
  box-shadow: 10px;
  background-color: rgb(44, 149, 70);
}
.lista1 a {
  color: rgb(222, 220, 220);
  text-decoration: none;
}

/*h1 titulo de todo el proyecto*/
h1 {
  text-align: center;
  padding: auto;
  margin: 10px;
  text-size-adjust: 1rem;
}

/*Conteriner de Pagina N·1*/
.conteiner {
  border: solid 2px;
  padding: 10px;
  margin: auto;
  background-color: rgb(148, 142, 142);
  display: flex;
  flex-flow: row wrap;
  height: 800px;
  width: 700px;
  justify-content: space-between;
}

.caja {
  border: solid 2px;
  text-align: center;
  margin: 3px;
  padding: 3px;
  width: 200px;
  height: 200px;
}
.caja img {
  width: 164px;
  height: 154px;
}

/*Conteiner de pagina 2 */
.container2 {
  border: solid 2px;
  padding: 10px;
  margin: auto;
  background-color: rgb(148, 142, 142);
  flex-flow: row wrap;
  height: 800px;
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3px 3px;
  grid-template-areas: "Mate1 mate2 mate3 cuidadomate" "mate4 mate5 mate6 cuidadomate" "mate7 mate8 mate9 cuidadomate";
}
.container2 img {
  width: 170px;
  height: 170px;
  padding: 10px;
}

.Mate1 {
  grid-area: Mate1;
}

.mate2 {
  grid-area: mate2;
}

.mate3 {
  grid-area: mate3;
}

.mate4 {
  grid-area: mate4;
}

.mate5 {
  grid-area: mate5;
}

.mate6 {
  grid-area: mate6;
}

.mate7 {
  grid-area: mate7;
}

.mate8 {
  grid-area: mate8;
}

.mate9 {
  grid-area: mate9;
}

.cuidadomate {
  grid-area: cuidadomate;
}

/*Footer De todas las paginas*/
footer {
  text-align: center;
  background-color: rgb(42, 40, 40);
  color: aliceblue;
}

h3 {
  padding: 20px;
  margin: 10px;
}

.formulario1 {
  padding: 10px;
  margin-bottom: 20px;
}

input[type=text] {
  height: 35px;
  width: 200px;
  padding: auto;
  margin: 10px;
  text-align: center;
}

.btn {
  width: 40px;
  height: 40px;
  border: solid 1px #fafafa;
  border-radius: 10px;
  background-color: black;
}

/*Conteiner de pagina 3 (Contactos) */
.conteiner3 {
  border: solid 2px;
  padding: 10px;
  margin: auto;
  background-color: rgb(148, 142, 142);
  display: flex;
  justify-content: center;
  height: 800px;
  width: 700px;
  flex-wrap: wrap;
}

.cajahistoria1 {
  text-align: center;
  justify-content: center;
  width: auto;
  height: 70px;
}

.cajahistoria2 {
  text-align: center;
  justify-content: center;
  width: auto;
  height: 70px;
}

.conteiner3 img {
  height: 260px;
  width: 500px;
  margin: 2px;
  padding: 2px auto;
  border: solid 3px black;
}

.historiatext {
  padding: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5px;
  font-size: 1rem;
}

.cajahistoria2 p {
  text-align: center;
  padding: 0.1px;
  margin: 0.3px;
  font-size: 1rem;
}

.cajahistoria1 h3 {
  padding-top: 1px;
  margin: 1px;
}

.cajahistoria2 h3 {
  padding-top: 1px;
  margin: 1px;
}

.cajahistoria1 p {
  padding-top: 1px;
  margin: 1px;
}

.cajahistoria2 p {
  padding-top: 1px;
  margin: 1px;
}

iframe {
  height: 200px;
  width: 200px;
  margin-top: 20px;
  padding: 3px;
  border-radius: 30px;
}

.h3-preguntas {
  display: flex;
  width: 100%;
}

.h3-preguntas1 {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: auto;
}

.form-label,
.mb-3 {
  width: 100%;
}

.form-control1 {
  padding: 10px;
  margin: auto;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 40px;
}

.botones-multimedia {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.botones {
  border-radius: 25%;
  width: 100px;
  height: 100px;
  padding: auto;
  margin: 10px;
}
.botones a {
  text-decoration: none;
  font-size: medium;
  color: black;
}
.botones img {
  width: 100px;
  height: 100px;
}

.formulario4 {
  width: 100%;
}

.h3-formulario {
  text-align: center;
}

.btn-outline-primary,
.btn-outline-secondary {
  width: 100px;
  height: 60px;
}

/*Responsive @media*/
/*Responsive Computadora*/
@media (max-width: 1028px) {
  nav {
    width: auto;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .lista1 li {
    font-size: 0.8rem;
    flex-direction: column;
  }
  .conteiner {
    display: flex;
    width: auto;
    height: auto;
  }
  .menu {
    width: auto;
  }
  .conteiner3 {
    display: flex;
  }
  .conteiner3 img {
    width: auto;
  }
  .cajahistoria2 {
    width: auto;
  }
}
/*Responsive Telefono*/
@media (max-width: 480px) {
  nav {
    display: flex;
    width: auto;
    height: auto;
    text-align: center;
    justify-content: center;
  }
  .lista1 li {
    height: 30px;
    width: auto;
    text-align: center;
    display: block;
  }
  .container2 {
    width: auto;
    height: auto;
    display: inline-block;
  }
  .container2 button {
    width: auto;
  }
  .footer {
    width: auto;
    height: auto;
  }
  .cajahistoria1 {
    width: auto;
  }
  .footer {
    width: auto;
  }
  .conteiner3 .cajahistoria1 {
    width: auto;
  }
}
/*Responsive Tablet*/
@media (max-width: 767px) {
  nav {
    width: auto;
    height: auto;
    text-align: center;
  }
  .container2 {
    width: auto;
    height: auto;
  }
  .mate {
    height: auto;
    width: auto;
  }
  .conteiner3 {
    width: auto;
  }
  .conteiner3 button {
    width: auto;
    height: auto;
  }
  .conteiner3 img {
    width: 400px;
    height: 200px;
  }
}

/*# sourceMappingURL=estilo.css.map */
