@mixin anclas{
    text-align: center;

}
/*h1 titulo de todo el proyecto*/
h1{
    @include anclas;
    padding: auto;
    margin: 10px;
    text-size-adjust: 1rem;}
/*Conteriner de Pagina N·1*/

.conteiner {
    border: solid 2px;
    padding: 10px;
    margin: auto;
    background-color: $color-gris;
    display: flex;
    flex-flow: row wrap;
    height: 800px;
    width: 700px;
    justify-content: space-between;
}

.caja {
    img {
        width: 164px;
        height: 154px;
    }

    border: solid 2px;
    @include anclas;
    margin: 3px;
    padding: 3px;
    width: 200px;
    height: 200px;
}