* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos del Body*/
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-size-adjust: 2px;
    background-image: url(../Multimedia/80091148-calabash-mate-patrón-en-el-fondo-blanco-ilustración-del-vector.jpg);
}

.bodyBs1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-size-adjust: 2px;
    background-image: url(../Multimedia/80091148-calabash-mate-patrón-en-el-fondo-blanco-ilustración-del-vector.jpg);
}
